<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoWasteReporter"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOWDECMTs2YwElJ_nBGuRcgq0qTbkRyEU" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectPage"
            android:exported="false" />
        <activity android:name=".UserReg" />
        <activity android:name=".UserLogin" />
        <activity android:name=".CleanerReg" />
        <activity android:name=".CleanerLoginPage" />
        <activity android:name=".ForgotPasswordPage" />
        <activity android:name=".VerificationCodePage" />
        <activity android:name=".NewPasswordPage" />
        <activity android:name=".PeopleHomePage" />
        <activity
            android:name=".ReportWastePage"
            android:exported="false" />
        <activity
            android:name=".NearbyBinsPage"
            android:exported="false" />
        <activity
            android:name=".MyReportPage"
            android:exported="false" />
        <activity
            android:name=".RecyclingTipsPage"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".CleanerHomePage"
            android:exported="false" />
        <activity
            android:name=".ViewTasksPage"
            android:exported="false" />
        <activity
            android:name=".UpdateBinStatusPage"
            android:exported="false" />
    </application>

</manifest>